* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

#main-con {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

}

#sign-select {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    min-width: 250px;
    min-height: 50px;
    margin: 0 0 20px 0;
}

.sign-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    margin: 0 20px;
    border: 2px solid black;
}

#game-con {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    min-width: 250px;
    box-shadow: 0 0 4px 3px rgba(0, 0, 0, 0.4);
    gap: 10px;
    padding: 10px;
}

.grid-row {
    flex: 1;
    display: flex;
    gap: 10px;
}

.grid-piece {
    flex: 1;
    border: 2px solid black;
}

.grid-piece:hover {
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.4);
}
